@import "tailwindcss";

@font-face {
    font-family: 'ClashDisplay';
    src: url('/src/assets/font/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasDisplay';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* globale Defaults */
body {
    font-family: 'ClashDisplay', system-ui, sans-serif;
    background-color: #000; /* du hast eh schwarzen Hintergrund */
    color: #fff;
}



@keyframes ticker {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
