@import "tailwindcss";

/* Fonts */
@font-face {
    font-family: 'ClashDisplay';
    src: url('../assets/font/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

.font-bebas {
    font-family: 'Bebas Neue', sans-serif;
}

.text-clock {
    font-size: 500px;
}

.text-seconds {
    font-size: 300px;
}
/* Global Layout + Hintergrund */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-family: 'ClashDisplay', system-ui, sans-serif;
    color: #fff;

    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes ticker {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}
